[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
python-dotenv = "*"
firebase-admin = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
